/* aside */
:root {
	--aside-gap: var(--default-gap);

	--aside-padding: var(--default-padding);
	--aside-border-top: 0px;
	--aside-border-right: var(--default-border-width);
	--aside-border-bottom: 0px;
	--aside-border-left: 0px;
	--aside-border-radius: 0px;
	--aside-border-style: var(--default-border-style);
	--aside-border-color: var(--default-border-color);
	--aside-margin: 0px;

	--aside-background-color: var(--default-background-color);
	--aside-font-color: var(--default-font-color);
	--aside-width: 375px;
	--aside-height: 100%;
	--aside-max-height: 100dvh;

	--aside-header-gap: var(--default-gap);
	--aside-body-gap: calc(var(--default-gap) / 2);
	--aside-footer-gap: var(--default-gap);

	--aside-transition: all 0.35s ease;

	/* aside.hidden */
	--aside-width--hiden: 120px;

	/* list */
	--aside-list-gap: 10px;
	--aside-list-margin: 10px 0px 0px 20px;
	--aside-list-transition: ;

	/* link */
	--aside-link-padding: 5px 15px;
	--aside-link-height: 60px;
	--aside-link-width: auto;
	--aside-link-font-size: 1.25rem;

	--aside-link-font-color: rgba(0, 0, 0, 1);
	--aside-link-font-color-hover: white;

	--aside-link-icon-fill: rgba(0, 0, 0, 1);
	--aside-link-icon-fill-hover: white;

	--aside-link-border: 0px;
	--aside-link-border-radius: 100px;
	--aside-link-border-hover: 0px;
	--aside-link-background-color: rgba(0, 123, 224, 0);
	--aside-link-background-color-hover: var(--primary-color);

	--aside-link-transition: all 0s ease;

	/* link.child */
	--aside-link-child-font-color: rgba(0, 0, 0, 0.5);
	--aside-link-child-font-color-hover: var(--primary-color);

	--aside-link-child-svg-fill: rgba(0, 0, 0, 0.5);
	--aside-link-child-svg-fill-hover: var(--primary-color);

	--aside-link-child-border: 0px;
	--aside-link-child-border-hover: 0px;
	--aside-link-child-background-color: rgba(0, 123, 224, 0);
	--aside-link-child-background-color-hover: rgba(var(--primary-color-rgb), 0.2);

	/* link.hidden */
	--aside-link-small-padding: 5px 15px;

	--aside-link-small-width: 60px;
	--aside-link-small-height: 60px;

	/* link -> .arrow */
	--aside-arrow-top: none;
	--aside-arrow-right: 20px;

	--aside-arrow-width: 25px;
	--aside-arrow-height: 25px;

	--aside-arrow-transition: all 0s ease;

	/* link -> .stage */
	--aside-link-stage-left: -15px;
	--aside-link-stage-top: 0px;

	--aside-link-stage-border-radius: 20px;

	--aside-link-stage-height: var(--aside-link-height);
	--aside-link-stage-width: 2px;

	--aside-link-stage-background-color: rgba(0, 0, 0, 0);

	--aside-link-stage-hover-background-color: var(--primary-color);

	/* link -> .point */
	--aside-link-point-left: -4px;
	--aside-link-point-top: 25px;

	--aside-link-point-width: 10px;
	--aside-link-point-height: 10px;

	--aside-link-point-border-radius: 50%;
	--aside-link-point-background-color: var(--aside-link-stage-background-color);

	--aside-link-point-transition: all 0s;
}
