:root {
	--header-padding: var(--default-padding);
   --header-margin: 0px;

	--header-border-top: 0px;
	--header-border-right: var(--default-border-width);
	--header-border-bottom: var(--default-border-width);
	--header-border-left: 0px;
	--header-border-radius: 0px;
	--header-border-style: var(--default-border-style);
	--header-border-color: var(--default-border-color);
   
   --header-height: 80px;
   --header-font-color: #000;
   --header-background-color: white;

   --header-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.03);
}