/* Импорт стилей */
@import url("./animation.css");

/* Импорт шрифтов */
@import url("./fonts.css");

/* Импорт переменных */
@import url("./variable.css");

* {
	font-family: "Rubik", sans-serif;
	-webkit-tap-highlight-color: transparent;

	outline: var(--default-outline);

	color-scheme: only light;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

html,
body,
#app {
	min-height: 100dvh;
}

body.modal-open {
	padding-right: 15px;
	background-color: #ececec;
	overflow: hidden;
}

body.wiki-open {
	padding-right: 15px;
	background-color: #ececec;
	overflow: hidden;
}

body:is(.modal-open, .wiki-open) > #app > header > .user {
	margin-right: 15px;
}

@media screen and (max-width: 600px) {
	body:is(.modal-open, .wiki-open) {
		padding-right: 0px;
		background-color: white;
	}

	body:is(.modal-open, .wiki-open) > #app > header > .user {
		margin-right: 0px;
	}
}
