/* Импорт стилей */
@import url("./animation.css");

/* Импорт шрифтов */
@import url("./fonts.css");

* {
	font-family: "Rubik", sans-serif;
	-webkit-tap-highlight-color: transparent;
}

:root {
	/* Основные цвета */
	--primary-color: #00abbd;

	--create-background-color: rgb(243, 255, 240);
	--create-background-hover-color: rgb(243, 255, 240);
	--create-border-color: #aaf281;
	--create-border-hover-color: rgb(243, 255, 240);

	--delete-background-color: rgb(255, 240, 240);
	--delete-background-hover-color: #fff3f3;
	--delete-border-color: #f28181;
	--delete-border-hover-color: #f59a9a;

	/* Кнопки */
	--button-default-color: var(--primary-color);
	--button-default-color-hover: #26b8c7;
	--button-disabled-color: #969696;
	--button-disabled-color-hover: #a0a0a0;
	--button-remove-color: #cd3f3f;
	--button-remove-color-hover: #d74949;
	--button-password-color: #cf913e;
	--button-password-color-hover: #d79744;
	--button-claim-color: #44a533;
	--button-claim-color-hover: rgb(78, 175, 61);

	/* Поля ввода какой-либо информации */
	--input-border-color-inactive: #cccccc;
	--input-border-color-active: var(--primary-color);
	--input-border-color-error: #ff9b9b;
	--input-background-color-error: #fff4f4;
	--input-placeholder-color: rgb(180, 180, 180);

	/* Капча */
	--captcha-background-color: #dcdcdc;

	/* svg */
	--svg-icon-arrow-fill: rgba(0, 171, 189, 0.5);
	--svg-icon-arrow-fill-hover: var(--primary-color);
	--svg-icon-add-item: rgba(68, 165, 51, 0.5);
	--svg-icon-add-item-hover: #44a533;

	--span-color-error: #ff5b5b;
	--span-color-create: #44a533;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

html,
body,
#app {
	min-height: 100dvh;
}

body.modal-open {
	padding-right: 17px;
	background-color: #ececec;
	overflow: hidden;
}

body.modal-open > #app > header > .user {
	margin-right: 17px;
}

body.modal-open > #app > .debugger {
	margin-right: 17px;
}

/* Скролбар блока со стандартным стилем*/
/* Define the scrollbar style */
body::-webkit-scrollbar,
table::-webkit-scrollbar {
	width: 17px;
}

/* Define the thumb style */
body::-webkit-scrollbar-thumb,
table::-webkit-scrollbar-thumb {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(200, 200, 200);
}

body::-webkit-scrollbar-thumb:hover,
table::-webkit-scrollbar-thumb:hover {
	background-color: rgb(245, 245, 245);
}

/* Define the track style */
body::-webkit-scrollbar-track,
table::-webkit-scrollbar-track {
	border: 1px solid rgb(200, 200, 200);
	background-color: rgb(225, 225, 225);
}

/* Style the beginning section of the scrollbar track */
body::-webkit-scrollbar-track-piece:vertical:start,
table::-webkit-scrollbar-track-piece:vertical:start {
	border: 1px solid rgb(200, 200, 200);
	background-color: rgb(215, 215, 215);
}

/* Style the end section of the scrollbar track */
body::-webkit-scrollbar-track-piece:vertical:end,
table::-webkit-scrollbar-track-piece:vertical:end {
	border: 1px solid rgb(200, 200, 200);
	background-color: rgb(215, 215, 215);
}

/* Define the button style */
body::-webkit-scrollbar-button:vertical,
table::-webkit-scrollbar-button:vertical {
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
}

body::-webkit-scrollbar-button:vertical:decrement,
table::-webkit-scrollbar-button:vertical:decrement {
	border-left: 1px;
	border-top: 1px;
	border-right: 1px;
	border-bottom: 0px;
	border-style: solid;
	border-color: rgb(200, 200, 200);

	background-image: url("../svg/arrow-up.svg");
	background-size: 15px;
}

body::-webkit-scrollbar-button:vertical:increment,
table::-webkit-scrollbar-button:vertical:increment {
	border-left: 1px;
	border-top: 0px;
	border-right: 1px;
	border-bottom: 1px;
	border-style: solid;
	border-color: rgb(200, 200, 200);

	background-image: url("../svg/arrow-down.svg");
	background-size: 15px;
}

/* Горизонтальный скроллбар */
body::-webkit-scrollbar-button:horizontal,
table::-webkit-scrollbar-button:horizontal {
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
}

body::-webkit-scrollbar-button:horizontal:decrement,
table::-webkit-scrollbar-button:horizontal:decrement {
	border-left: 1px;
	border-top: 1px;
	border-right: 0px;
	border-bottom: 1px;
	border-style: solid;
	border-color: rgb(200, 200, 200);

	background-image: url("../svg/arrow-left.svg");
	background-size: 15px;
}

body::-webkit-scrollbar-button:horizontal:increment,
table::-webkit-scrollbar-button:horizontal:increment {
	border-left: 0px;
	border-top: 1px;
	border-right: 1px;
	border-bottom: 1px;
	border-style: solid;
	border-color: rgb(200, 200, 200);

	background-image: url("../svg/keyboard-arrow.svg");
	background-size: 15px;
}

/* Define the button style when being hovered over */
body::-webkit-scrollbar-button:hover,
table::-webkit-scrollbar-button:hover {
	background-color: rgb(245, 245, 245);
}

.loader-pulse {
	animation: pulse 700ms infinite alternate;
}

.item-load {
	background-image: linear-gradient(
		-100deg,
		transparent,
		rgba(187, 187, 187, 0.5) 0%,
		transparent 80%
	);
	background-repeat: no-repeat;
	background-size: 75px 100px, 100px 100px, 125px 20px, 260px 20px, 260px 20px;
	background-position: -50% 0, 0 0, 120px 0, 120px 40px, 120px 80px, 120px 120px;
	box-sizing: border-box;
	animation: animloader 1.5s linear infinite;
}

.textarea-load {
	background-image: linear-gradient(
		-100deg,
		transparent,
		rgba(187, 187, 187, 0.5) 0%,
		transparent 80%
	);
	background-repeat: no-repeat;
	background-size: 200px;
	box-sizing: border-box;
	animation: animloader 1.5s linear infinite;
}

.slider-load {
	background-image: linear-gradient(
		-100deg,
		transparent,
		rgba(187, 187, 187, 0.5) 0%,
		transparent 40%
	);
	background-repeat: no-repeat;
	background-size: 200px;
	box-sizing: border-box;
	animation: animloader 1.5s linear infinite;
}

@media screen and (max-width: 600px) {
	body.modal-open {
		padding-right: 0px;
		background-color: white;
	}

	body.modal-open > #app > header > .user {
		margin-right: 0px;
	}
}
