/* Импорт стилей */
@import url("./animation.css");

/* Импорт шрифтов */
@import url("./fonts.css");

/* Импорт переменных */
@import url("./variable.css");

/* Импорт стилей */
@import url("./shared.css");

* {
	box-sizing: border-box;

	font-family: "Rubik", sans-serif;
	-webkit-tap-highlight-color: transparent;

	outline: var(--default-outline);
	color-scheme: only light;
}

body {
	font-size: var(--default-font-size);
	font-family: var(--default-font-family);

	margin: 0px;
	padding: 0px;

	color: var(--default-font-color);
}

html,
body,
#app {
	min-height: 100dvh;
}

body.modal-open {
	background-color: #ececec;
	overflow: hidden;
}

body.wiki-open {
	background-color: #ececec;
	overflow: hidden;
}

body.aside-open {
	background-color: #ececec;
	overflow: hidden;
}

@media screen and (max-width: 600px) {
	body:is(.modal-open, .wiki-open, .aside-open) {
		padding-right: 0px;
		background-color: white;
	}

	body:is(.modal-open, .wiki-open, .aside-open) > #app > header > .user {
		margin-right: 0px;
	}
}
