/* Импорт стилей */
@import url("./animation.css");

/* Импорт шрифтов */
@import url("./fonts.css");

/* Импорт переменных */
@import url("./variable.css");

/* Импорт стилей */
@import url("./shared.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Rubik", sans-serif;
	-webkit-tap-highlight-color: transparent;

	outline: var(--default-outline);
	color-scheme: only light;
}

body {
	font-size: var(--default-font-size);
	font-family: var(--default-font-family);

	margin: var(--main-margin);
	padding: var(--main-padding);

	color: var(--main-font-color);
	background-color: var(--main-background-color);
}


html,
body,
#app {
	min-height: 100dvh;
}

/* body.modal-open {
	padding-right: 15px;
	background-color: #ececec;
	overflow: hidden;
}

body.wiki-open {
	padding-right: 15px;
	background-color: #ececec;
	overflow: hidden;
}

body:is(.modal-open, .wiki-open) > #app > header > .user {
	margin-right: 15px;
} */

@media screen and (max-width: 600px) {
	body:is(.modal-open, .wiki-open) {
		padding-right: 0px;
		background-color: white;
	}

	body:is(.modal-open, .wiki-open) > #app > header > .user {
		margin-right: 0px;
	}
}
