/* NOTE: Модули CSS */

/* Базовые */
@import url("./medline/accents.css");
@import url("./medline/defualt.css");

/* Интерфейс */
@import url("./medline/includes/header.css");
@import url("./medline/includes/aside.css");
@import url("./medline/includes/content.css");

/* Модули */
@import url("./medline/modules/accordeon.css");
@import url("./medline/modules/debugger.css");
@import url("./medline/modules/pagination.css");
@import url("./medline/modules/modal.css");
@import url("./medline/modules/list.css");
@import url("./medline/modules/loader.css");
@import url("./medline/modules/wiki.css");
@import url("./medline/modules/tiptap.css");

/* Элементы */
@import url("./medline/elements/icons.css");
@import url("./medline/elements/buttons.css");
@import url("./medline/elements/table.css");
@import url("./medline/elements/inputs/inputs.css");