:root {
	--icon-color: rgb(240, 240, 240);
	--icon-fill: rgb(100, 100, 100);
	--icon-background-color: rgb(240, 240, 240);
	--icon-background-color-hover: rgb(230, 230, 230);

	/* multi */
	--icon-multi-fill: var(--primary-color);
	--icon-nulti-fill-hover: var(--primary-color-hover);
	
	/* edit */
	--icon-edit-fill: var(--edit-secondary-color);
	--icon-edit-background-color: var(--edit-secondary-background-color);
	--icon-edit-background-color-hover: var(--edit-secondary-background-color-hover);
	
	/* create */
	--icon-create-fill: var(--create-secondary-color);
	--icon-create-background-color: var(--create-secondary-background-color);
	--icon-create-background-color-hover: var(--create-secondary-background-color-hover);
	
	/* delete */
	--icon-delete-fill: white;
	--icon-delete-background-color: var(--delete-secondary-background-color);
	--icon-delete-background-color-hover: var(--delete-secondary-background-color-hover);
	
	/* admin */
	--icon-admin-fill: #d0913e;
	--icon-admin-background-color: rgb(255, 242, 222);
	--icon-admin-background-color-hover: rgb(248, 232, 208);
}
