/* пагинация */
:root {
	/* input */
	--input-gap: 5px;

   --input-label-color: var(--primary-color);
   --input-color: black;

   --input-padding: 30px 15px;

	--input-border: var(--default-border);
	--input-border-radius: calc(var(--default-border-radius) / 2);
	--input-border-focus: 1px solid var(--primary-color);

   --input-placeholder-color: rgba(0, 0, 0, 0.5);

   /* textarea */
   --textarea-padding: 15px;

   /* error */
   --input-error-border: 1px;
   --input-error-border-radius: calc(var(--default-border-radius) / 2);

   --input-error-background-color: #f7cccc;
   --input-error-color: rgb(186, 43, 43);
}
