/* Кнопки */
:root {
	--button-padding: 15px 30px;
	--button-border: 0px;
	--button-border-radius: 100px;

	--button-font-size: 1.125rem;
	--button-font-color: rgb(255, 255, 255);
	--button-font-color-hover: rgb(255, 255, 255);

	--button-background-color: var(--primary-color);
	--button-background-color-hover: var(--primary-color-hover);
	--button-secondary-background-color: #dcfbff;
	--button-secondary-background-color-hover: #d3f1f5;

	/* invertion */
	--button-inverse-font-color: rgb(255, 255, 255);
	--button-inverse-font-color-hover: rgb(255, 255, 255);
	--button-inverse-background-color: var(--primary-color);
	--button-inverse-background-color-hover: var(--primary-color-hover);

	/* create */
	--button-create-font-color: rgb(255, 255, 255);
	--button-create-font-color-hover: rgb(255, 255, 255);
	--button-create-background-color: var(--create-background-color);
	--button-create-background-color-hover: var(--create-background-color-hover);

	/* delete */
	--button-delete-font-color: var(--delete-color);
	--button-delete-font-color-hover: var(--delete-color-hover);
	--button-delete-background-color: var(--delete-background-color);
	--button-delete-background-color-hover: var(--delete-background-color-hover);
	--button-delete-secondary-background-color: #ffdddd;
	--button-delete-secondary-background-color-hover: #f3d3d3;

	/* disabled */
	--button-disabled-background-color: rgb(150, 150, 150);
	--button-disabled-background-color-hover: rgb(160, 160, 160);

	/* admin */
	--button-admin-background-color: #cf913e;
	--button-admin-background-color-hover: #d79744;
}
