:root {
	--button-gap: 10px;
	--button-padding: 15px 30px;
	--button-border: 0px;
	--button-border-radius: 100px;
	--button-font-size: 1.125rem;
	--button-font-color: rgb(255, 255, 255);
	--button-font-color-hover: rgb(255, 255, 255);
	--button-background-color: var(--primary-color);
	--button-background-color-hover: var(--primary-color-hover);

	--button-min-width: 150px;
	--button-max-width: none;
	--button-min-height: 54px;
	--button-max-height: 54px;

	--button-secondary-font-color: var(--primary-color);
	--button-secondary-font-color-hover: var(--primary-color);
	--button-secondary-background-color: #dcfbff;
	--button-secondary-background-color-hover: #d3f1f5;

	--button-loader-border: 3px solid white;

	--button-box-shadow: 0px;
	--button-transition: border 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;

	/* .radial */
	--button-radial-width: var(--button-min-height);
	--button-radial-height: var(--button-min-height);
	--button-radial-border-radius: 100px;

	/* edit */
	--button-edit-font-color: rgb(255, 255, 255);
	--button-edit-font-color-hover: rgb(255, 255, 255);
	--button-edit-background-color: var(--edit-background-color);
	--button-edit-background-color-hover: var(--edit-background-color-hover);

	--button-edit-secondary-font-color: var(--primary-color);
	--button-edit-secondary-font-color-hover: var(--primary-color);
	--button-edit-secondary-background-color: var(--edit-secondary-background-color);
	--button-edit-secondary-background-color-hover: var(--edit-secondary-background-color-hover);

	/* invertion */
	--button-inverse-border: var(--input-border);
	--button-inverse-border-hover: var(--input-border-focus);

	--button-inverse-font-color: black;
	--button-inverse-font-color-hover: black;
	--button-inverse-background-color: rgba(255, 255, 255, 1);
	--button-inverse-background-color-hover: var(--edit-secondary-background-color);

	--button-loader-inverse-border: 3px solid var(--primary-color);

	/* create */
	--button-create-font-color: rgb(255, 255, 255);
	--button-create-font-color-hover: rgb(255, 255, 255);
	--button-create-background-color: var(--create-background-color);
	--button-create-background-color-hover: var(--create-background-color-hover);

	--button-create-secondary-font-color: var(--create-background-color);
	--button-create-secondary-font-color-hover: var(--create-background-color);
	--button-create-secondary-background-color: var(--create-secondary-background-color);
	--button-create-secondary-background-color-hover: var(--create-secondary-background-color-hover);

	/* delete */
	--button-delete-font-color: var(--delete-color);
	--button-delete-font-color-hover: var(--delete-color-hover);
	--button-delete-background-color: var(--delete-background-color);
	--button-delete-background-color-hover: var(--delete-background-color-hover);

	--button-delete-secondary-font-color: var(--delete-secondary-color);
	--button-delete-secondary-font-color-hover: var(--delete-secondary-color-hover);
	--button-delete-secondary-background-color: var(--delete-secondary-background-color);
	--button-delete-secondary-background-color-hover: var(--delete-secondary-background-color-hover);

	/* disabled */
	--button-disabled-background-color: rgb(150, 150, 150);
	--button-disabled-background-color-hover: rgb(160, 160, 160);

	/* admin */
	--button-admin-background-color: #cf913e;
	--button-admin-background-color-hover: #d79744;
}
