:root {
	--table-th-gap: calc(var(--default-gap) / 2);
	--table-th-background-color: var(--default-background-color);

	--table-td-gap: var(--table-th-gap);
	--table-td-odd-background-color: var(--item-background-color);
	--table-td-even-background-color: rgba(0, 0, 0, 0);

	--table-cell-border-top: var(--default-border-width);
	--table-cell-border-right: var(--default-border-width);
	--table-cell-border-bottom: var(--default-border-width);
	--table-cell-border-left: var(--default-border-width);
	--table-cell-border-style: var(--default-border-style);
	--table-cell-border-color: var(--default-border-color);
	--table-cell-border-transition: all 0.2 ease;

	:is(.vue-table__thead-cell, .vue-table__thead-cell, .vue-table__tbody-cell) > div {
		--table-cell-padding: 0px 10px;
		--table-cell-border-radius: 0px;
		min-height: 50px;

		transition: all 0.2s;
	}

	--table-animation: show-bottom-to-top-15 0.5s ease-in-out;

	/* table -> .head -> button */
	--table-button-head-gap: 5px;

	--table-button-head-background-color: white;
	--table-button-head-border: var(--default-border);
	--table-button-head-border-radius: 100px;
	--table-button-head-color: black;
	--table-button-head-height: 50px;
	--table-button-head-min-width: 100px;
	--table-button-head-font-size: var(--button-font-size);

	--table-button-head-padding: 0px 10px;

	--table-button-head-transition: all 0.2s;

	/* table -> .head -> button:hover */
	--table-button-head-border--hover: var(--default-border-focus);
	--table-button-head-background-color--hover: var(--secondary-color);

	/* Поиск -> Поле */
	--table-search-border: var(--default-border);
	--table-search-border-radius: 100px;
	--table-search-padding: 10px;
	--table-search-width: 50px;
	--table-search-height: 50px;
	--table-search-background-color: white;

	--table-search-border-active: var(--default-border-focus);
	--table-search-active-width: 300px;
	--table-search-active-height: #f2feff;
	--table-search-active-background-color: white;

	--table-search-transition: all 0.2s ease;

	--table-search-input-margin-left: 40px;
	--table-search-input-width: calc(100% - 50px);
	--table-search-font-size: 1rem;
	--table-search-input-background-color: rgba(0, 0, 0, 0);
	--table-search-input-border: 0px;

	/* Поиск -> Иконка */
	--table-search-icon-fill: rgba(0, 0, 0, 0.5);
	--table-search-icon-fill-hover: rgba(0, 0, 0, 1);

	--table-search-icon-width: 50px;
	--table-search-icon-height: 50px;
	--table-search-icon-background-color: white;

	--table-search-icon-svg-width: 30px;
	--table-search-icon-svg-height: 30px;

	/* Сортировка -> Иконки */
	--th-sort-icon-fill: black;
	--th-sort-icon-fill-hover: var(--primary-color);

	--th-sort-icon-transition: all 0.2s ease;

	/* Фильтры -> Кнопки */
	--filter-button-border: var(--default-border);
	--filter-button-border-radius: calc(var(--default-border-radius) / 1.5);

	--filter-button-font-size: 1.125rem;
	--filter-button-font-color: black;

	--filter-button-border-hover: var(--default-border-focus);
	--filter-button-background-color-hover: var(--item-background-color-active);

	--filter-button-transition: all 0.2s ease;

	/* Фильтры -> Поля ввода */
	--table-filter-field-height: 50px;
	--table-filter-field-width: 100%;
	--table-filter-field-border-radius: 100px;
	--table-filter-field-border: var(--default-border);
	--table-filter-field-padding: 10px;
	--table-filter-field-background-color: white;

	--table-filter-field-font-size: 1rem;
	--table-filter-field-font-color: black;
	--table-filter-field-caret-color: var(--primary-color);

	--table-filter-field-transition: all 0.2s ease;

	--table-filter-field-border-focus: var(--default-border-focus);
	--table-filter-field-background-color-focus: white;

	/* Пагинация */
	--table-pagination-gap: 10px;

	--table-pagination-padding: 5px;
	--table-pagination-border: 1px solid rgb(190, 190, 190);

	--table-svg-fill: var(--primary-color);
	--table-svg-fill-hover: var(--primary-color);

	--table-pagination-button-border-radius: 100px;
	--table-pagination-button-border: var(--default-border);
	--table-pagination-button-border-hover: var(--default-border-focus);
	--table-pagination-button-background-color-hover: var(--item-background-color-active);

	--table-pagination-button-font-size: 1rem;
	--table-pagination-button-height: 30px;
	--table-pagination-button-width: 30px;
	--table-pagination-button-background-color: white;
	--table-pagination-button-color: black;
}
