/* main */
:root {
	--main-gap: var(--default-gap);

	--main-padding: 0px;
	--main-margin: 0px;

	--main-max-height: calc(100dvh - var(--header-height));

	--main-font-color: #000;
	--main-font-size: var(--default-font-size);
	--main-font-family: var(--default-font-family);
	--main-background-color: var(--default-background-color);
}
