/* Акценты */
:root {
	/* Основные цвета */
	--primary-color: rgb(var(--primary-color-rgb));
	--primary-color-rgb: 181, 1, 62;
	--primary-color-hover: #cf1855;

	--transparent-color: rgba(189, 0, 94, 0.1);
	--secondary-color: #f4e7ec;

	/* edit */
	--edit-color: white;
	--edit-color-hover: white;
	--edit-secondary-color: var(--primary-color);
	--edit-secondary-color-hover: var(--primary-color);

	--edit-background-color: var(--primary-color);
	--edit-background-color-hover: var(--primary-color-hover);
	--edit-secondary-background-color: #ffeff4;
	--edit-secondary-background-color-hover: #f2dee5;

	/* create */
	--create-color: white;
	--create-color-hover: white;
	--create-secondary-color: #44a533;
	--create-secondary-color-hover: #44a533;

	--create-background-color: #44a533;
	--create-background-color-hover: rgb(78, 175, 61);
	--create-secondary-background-color: rgb(234, 255, 236);
	--create-secondary-background-color-hover: rgb(224, 245, 226);

	/* delete */
	--delete-border-color: rgb(201, 195, 66);
	--delete-border-color-hover: rgb(212, 206, 86);

	--delete-color: white;
	--delete-color-hover: white;
	--delete-secondary-color: rgb(201, 195, 66);
	--delete-secondary-color-hover: rgb(201, 195, 66);

	--delete-background-color: rgb(201, 195, 66);
	--delete-background-color-hover: rgb(212, 206, 86);
	--delete-secondary-background-color: rgb(255, 242, 222);
	--delete-secondary-background-color-hover: rgb(248, 232, 208);
}
