:root {
	/* modal */
	--modal-z-index: 500;

	--modal-border-radius: 0px;
	--modal-border: 0px;
	--modal-padding: 0px;

	--modal-width: 100dvw;
	--modal-height: 100dvh;
	--modal-background-color: rgba(0, 0, 0, 0.3);

	/* modal -> .clamped */
	--modal-clamped-container-margin: 30px;
	--modal-clamped-container-max-height: calc(100% - 60px);

	/* modal -> .unclamped */
	--modal-unclamped-container-margin: auto;

	/* modal -> .fullscreen */
	--modal-fullscreen-container-border-radius: 0px;
	--modal-fullscreen-container-width: 100%;
	--modal-fullscreen-container-height: 100%;

	--modal-fullscreen-container-max-width: 100%;
	--modal-fullscreen-container-max-height: 100%;

	--modal-fullscreen-container-margin: 0px;

	--modal-fullscreen-header-border-radius: 0px;
	--modal-fullscreen-footer-border-radius: 0px;

	--modal-fullscreen-body-height: 100%;

	/* container */
	--modal-container-gap: 0px;

	--modal-container-border-radius: var(--default-border-radius);
	--modal-container-border: var(--default-border);
	--modal-container-padding: 0px;
	--modal-container-margin: 0px;

	--modal-container-background-color: var(--default-background-color);
	--modal-container-width: 100%;
	--modal-container-max-width: 1000px;

	/* container -> .thin */
	--modal-container-thin-max-width: 600px;

	/* header */
	--modal-header-flex-direction: row;
	--modal-header-justify-content: space-between;
	--modal-header-align-items: center;
	--modal-header-gap: calc(var(--default-gap) / 2);

	--modal-header-border-radius: var(--default-border-radius) var(--default-border-radius) 0px 0px;
	--modal-header-border-top: 0px;
	--modal-header-border-right: 0px;
	--modal-header-border-bottom: var(--default-border-width);
	--modal-header-border-left: 0px;
	--modal-header-border-style: var(--default-border-style);
	--modal-header-border-color: var(--default-border-color);

	--modal-header-padding: var(--default-padding);

	/* header -> button.close */
	--modal-header-close-border: 0px;
	--modal-header-close-border-hover: 0px;
	--modal-header-close-border-radius: 0px;
	--modal-header-close-padding: 0px;	

	--modal-header-close-background-color: none;
	--modal-header-close-background-color-hover: none;

	--modal-header-close-width: 30px;
	--modal-header-close-height: 30px;

	--modal-header-close-transition: all 0.2s;

	/* header -> button.close -> icon */
	--modal-header-close-icon-width: 16px;
	--modal-header-close-icon-height: 16px;

	--modal-header-close-icon-fill: black;
	--modal-header-close-icon-fill-hover: var(--primary-color);

	--modal-header-close-icon-transition: all 0.2s;

	/* body */
	--modal-body-flex-direction: column;
	--modal-body-justify-content: justify;
	--modal-body-align-items: justify;
	--modal-body-gap: var(--default-gap);

	--modal-body-border-radius: 0px;
	--modal-body-border-top: 0px;
	--modal-body-border-right: 0px;
	--modal-body-border-bottom: 0px;
	--modal-body-border-left: 0px;
	--modal-body-border-style: var(--default-border-style);
	--modal-body-border-color: var(--default-border-color);

	--modal-body-padding: var(--default-padding);

	/* footer */
	--modal-footer-gap: calc(var(--default-gap) / 2);

	--modal-footer-border-radius: 0px 0px var(--default-border-radius) var(--default-border-radius);
	--modal-footer-border-top: var(--default-border-width);
	--modal-footer-border-right: 0px;
	--modal-footer-border-bottom: 0px;
	--modal-footer-border-left: 0px;
	--modal-footer-border-style: var(--default-border-style);
	--modal-footer-border-color: var(--default-border-color);

	--modal-footer-padding: var(--default-padding);
}
