@import url("./date.css");
@import url("./time.css");
@import url("./date-time.css");
@import url("./list.css");
@import url("./number.css");
@import url("./select.css");
@import url("./selector.css");
@import url("./switch.css");
@import url("./textarea.css");
@import url("./fieldset.css");
@import url("./label.css");

:root {
	/* input */
	--input-gap: 5px;

	--input-font-family: var(--default-font-family);
	--input-font-size: 1.25rem;
	--input-color: rgb(0, 0, 0);
	--input-background-color: white;
	--input-height: 60px;

	--input-padding: 0px 15px;
	--input-caret-color: var(--primary-color);

	--input-border-radius: calc(var(--default-border-radius) / 1.5);
	--input-border-color: var(--default-border-color);
	--input-border-color-hover: var(--default-border-color-hover);
	--input-border-width: var(--default-border-width);
	--input-border-style: var(--default-border-style);

	--input-border: var(--input-border-width) var(--input-border-style) var(--input-border-color);
	--input-border-focus: var(--input-border-width) var(--input-border-style)
		var(--input-border-color-hover);

	--input-placeholder-color: rgba(0, 0, 0, 0.3);

	--input-icon-color: rgba(0, 0, 0, 0.5);
	--input-icon-color-hover: rgba(0, 0, 0, 1);

	--input-transition: all 0.2s ease;

	/* Блок ошибок */
	--error-border: 50px;
	--error-border-radius: 50px;

	--error-padding: 5px 10px;

	--error-color: rgb(255, 255, 255);
	--error-background-color: var(--delete-background-color);

	--error-animation: showError 0.2s ease;

	/* иконки */
	--input-search-icon-color: var(--default-font-color);
	--input-file-icon-color: var(--default-font-color);

	/* error */
	--input-error-border: var(--default-border-width) var(--default-border-style) #ff9b9b;
	--input-error-background-color: #fff4f4;
	--input-error-background-color-file: #ff9b9b;
	--input-error-caret-color: red;
	--input-error-color: red;

	/* create */
	--input-create-background-color: rgb(255, 255, 255);
	--input-create-background-color-hover: rgb(243, 255, 240);

	--input-create-color: #44a533;
	--input-create-caret-color: #44a533;

	--input-create-border: var(--default-border-width) var(--default-border-style) #44a533;
	--input-create-border-focus: var(--default-border-width) var(--default-border-style) #44a533;

	/* delete */
	--input-delete-background-color: rgb(255, 255, 255);
	--input-delete-background-color-hover: var(--delete-secondary-background-color);

	--input-delete-color: var(--delete-background-color);
	--input-delete-caret-color: var(--delete-background-color);

	--input-delete-border: var(--default-border-width) var(--default-border-style)
		var(--delete-border-color);
	--input-delete-border-focus: var(--default-border-width) var(--default-border-style)
		var(--delete-border-color-hover);
}

@keyframes showError {
	0% {
		opacity: 0;
		transform: translateX(10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-5px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
