/* По умолчанию */
:root {
	--default-gap: 30px;
	--default-padding: 30px;
	--default-margin: 30px;

	--default-border-color: rgba(43, 102, 115, 0.4);
	--default-border-width: 1px;
	--default-border-style: solid;
	--default-border: var(--default-border-style) var(--default-border-width) var(--default-border-color);
	--default-border-color-hover: var(--primary-color);
	--default-border-focus: 1px solid var(--primary-color);
	--default-border-radius: 30px;

	--default-background-color: white;
	--secondary-background-color: rgb(220, 220, 220);

	--default-font-color: black;
	--default-font-family: "Rubik", sans-serif;
	--default-font-size: 16px;
	--default-font-weight: 400;
	--default-font: var(--default-font-weight) var(--default-font-size) var(--default-font-family);

	--default-outline: 0px solid rgba(0, 0, 0, 0.2);

	--default-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);

	--item-background-color: #f0fafc;
	--item-background-color-active: #f2feff;

	--skeleton-background-color: #E1ECED;
	--skeleton-line-color: #fafafa;

	--default-transition: all 0.2s ease;
}
